*{
    margin:0;
    padding:0;
}
body{
    background-color: #f2f2f2;
    font-family: 'Times New Roman',Times,serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}